* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.booking{
  border: 2px dotted black;
  width: 52%;
  margin: 10px auto;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
}

table{
  width: 57%;
  margin: 2% auto;
}

th{
  width: 30%;
  text-align: left;
  padding-left: 17%;
  border: 2px dotted purple;
}

td{
  width: 50%;
  padding: 1%;
  border: 2px dotted pink;
}

span{
  font-size: 18px;
}

input, select{
  width: 52.5%;
  height: 30px;
  font-size: 14px;
  margin-left: 0.25%;
  padding-left: 0.7%;
  border-radius: 5px;
  border: 1px solid grey;
}

select{
  cursor: pointer;
}
/*Calendar input section*/
.calendar-btn{
  width: 100%;
  margin: 1% 0;
}

.calendar-btn i{
  position: relative;
  top: 2.9%;
  right: 11.75%;
  font-size: 18px;
  cursor: pointer;
}

.calendar-btn input{
  width: 52.5%;
  height: 30px;
  font-size: 17px;
  margin-left: 0.25%;
  padding-left: 1%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid grey;
}

/*Calander Outline or Frame*/
.calendar{
  display: none; /*Hides the calendar div*/
  width: 15%;
  height: 300px;
  margin-left: 5px;
  position: absolute;
  left: 46.35%;
  background-color: rgb(172, 231, 255);
}

/*Months user are at*/
.month{
  width: 100%;
  height: 60px;
  display: flex;
  text-align: center;
  background-color: rgba(0, 68, 255, 0.575);
  border-bottom: 2px solid black;
}

/*Previous and Next Button*/
.previous, .next{
  width: 10%;
  height: 100%; /*Allows user to click at the entire row of the button instead*/
  padding: 20px 0 23px; /*Align it to be center like margin auto*/
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

/*Background colour + opacity when hover over the buttons*/
.previous:hover, .next:hover{
  background-color: rgba(128, 128, 128, 0.397);
}

/*Month + Day + Date*/
.content{
  width: 90%;
  margin: auto;
  line-height: 1.3;
}

/* Weekdays & Weekend*/
.days{
  display: flex;
  width: 100%;
  border-bottom: 2px solid black;
}

.days div{
  width: 14.28%;
  text-align: center;
  font-size: 17px;
  margin: 2% 0;
}

/* Month Dates*/
.dates{
  display: flex;
  flex-wrap: wrap;
  margin: 2.25% 0;
}

/*Individual Dates of the Month*/
.dates div{
  width: 14.28%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  margin: auto;
  cursor: pointer;
}

/*Current Date*/
.today{
  background-color: rgba(0, 68, 255, 0.575);
}

.today:hover{
  background-color: rgba(0, 68, 255, 0.486);
}

/*Any item that do not have the class "current" but is under the class "dates"*/
.dates div:hover:not(.today){   
  background-color: rgba(128, 128, 128, 0.281); 
}

/*Next & Previous Month dates*/
.prev-date, .next-date{
  opacity: 0.65;
}

option{
  cursor: pointer;
  font-size: 15px;
}

/*Terms and Condition*/
.terms{
  width: 62%;
  margin: 1.5% auto;
  text-align: left;
  line-height: 1.5;
  padding-left: 6%;
}

.terms br{
  margin: 10px auto;
  display: block;
  content: " " ; 
}

.terms a{
  color: black;
  text-decoration: none;
}

.terms input{
  width: 12.8px;
  height: 12.8px;
  cursor: pointer;
}

button{
  font-size: 22.5px;
  margin: 2% auto;
  width: 12%;
  height: 5%;
  border-radius: 25px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
}

button:hover{
  border: 1.5px solid black;
  background-color: rgba(165, 42, 42, 0.767);
  color: white;
}