* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 h1{
  text-align: center;
  margin: 1% 0
}

table{
  width: 40% !important;
  margin: auto;
  color: white !important;
}

table th{
  width: 45%;
  text-align: right;
}

p{
  margin: 0 !important;
  text-align: justify;
}

p a{
  color: white;
  text-decoration: none;
}