* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 h1{
  text-align: center;
  margin: 1% 0
}

.form-container{
  box-shadow: -10px 10px rgb(151, 151, 151);
}

table{
  width: 35% !important;
  margin: 2% auto !important;
  color: white !important;
  border: 1px solid white;
}

th, td{
  border-style: none !important;
  padding: 1%;
}

table th{
  width: 45%;
  text-align: right;
  font-size: 18px;
}

.date-container{
  width: fit-content;
  position: absolute;
}

/* Calendar Icon Position */
.fa{
  color: black;
  font-size: 20px;
  position: absolute;
  right: 10%;
  line-height: 1.4 !important;
}

/* Calendar container */
.calendar{
  /* background-color: rgba(3, 3, 3, 0.699);
  border: 1px solid grey; */
  height: 350px;
  width: 300px;
  display: none;
}

.month{
  width: 100% !important;
  margin: 0 !important;
  background-color: rgba(3, 3, 3, 0.699)
}

.month-container th{
  width: 34px;
  font-size: 16px;
}

/* Exit button for calendar */
#calendar-exit{
  float: right;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
}

/* set arrow size */
.prev, .next{
  cursor: pointer;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

.prev:hover, .next:hover{
  text-decoration: none;
  color: white;
}

/* set hover for table cell */
.days{
  cursor: pointer;
}

.days:hover{
  background-color: rgba(184, 181, 181, 0.877);
}

/* set opacity to previous dates */
.over, .prevDates, .nextDates{
  opacity: 0.3;
}

.over:hover{
  background-color: rgba(221, 219, 219, 0.699);
  cursor: default;
}

/* set border for today date */
.today{
  border: 2px solid rgba(21, 21, 90, 0.877);
}

/* set prev month dates */
.prevDates:hover{
  background-color: rgba(221, 219, 219, 0.699);
  cursor: pointer;
}

/* set next months dates */

.nextDates:hover{
  background-color: rgba(221, 219, 219, 0.699);
  cursor: pointer;
}

.click {
  background-color: rgba(21, 21, 90, 0.877);
  color: white;
}

.selected{
  background-color: rgba(221, 219, 219, 0.699);
}

/* Terms and Conditions */
.terms{
  margin: 0 !important;
  text-align: justify;
  line-height: 1.5;
  padding-left: 10%;
}

.terms a{
  color: white;
  text-decoration: none;
}

.terms input{
  width: 17px;
  height: 17px;
}

/* Submit button */
.submit-btn{
  width: 14%;
  height: 8%;
  font-size: 22.5px;
  margin: 0% 43%;
  border-radius: 10px;
  border:none;
}

.submit-btn:hover{
  background-color: #cdaa7d;
  color: white;
}

/* Responsive Webpage Content - Gotten viewport sizes from developer console */

/* Horizontal View Port (with reference to iPad Pro) */
@media (max-width: 1440px) {

  /* Terms and Conditions font-sizing */
  .terms input{
    width: 15px;
    height: 15px;
  }

  .submit-btn, .terms h4{
    font-size: 18px;
  }
}

/* Vertical View Port (with reference to iPad Pro) */
@media (max-width : 1025px) {
  /* Table width */
  table{
    width: 55% !important;
  }

  /* Terms and Conditions font-sizing */
  .terms input{
    width: 15px;
    height: 15px;
  }

  table th{
    font-size: 17px;
  }

  .submit-btn, .terms h4{
    font-size: 17px;
  }
}

/* Vertical View Port (with reference to iPhone) */
@media (max-width : 425px) {
  /* Table width and font-sizes */
  table{
    width: 98% !important;
  }

  table th{
    font-size: 16px;
  }

  /* Form Inputs */
  table input, table select{
    height: 10%;
  }

  /* Terms and Conditions font-sizing */
  .terms p{
    font-size: 16px;
  }

  .terms input{
    width: 12px;
    height: 12px;
  }

  .terms h4{
    font-size: 16px;
  }

  .submit-btn{
    font-size: 17px;
  }
}