* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  margin: 1% 0
}

.form{
  width: 50%;
  margin: 1% auto;
  padding: 1%;
  background-color: white;
  color: black;
}

table{
  width: 70%;
  margin: auto;
}

th, td{
  padding: 1%;
}

th{
  width: 50%;
  text-align: right;
  font-size: 17.5px;
  padding-right: 5%;
}

/* Input size box */
input, select{
  height: 30px;
  font-size: 15px;
  margin-left: 0.25%;
  padding-left: 1%;
  border-radius: 5px;
  border: 1px solid grey;
}

select{
  cursor: pointer;
}

/*Calendar input section*/
.calendar-btn{
  width: 100%;
  margin: 1% 0;
}

.calendar-btn i{
  position: relative;
  top: 2.9%;
  right: 11.75%;
  font-size: 18px;
  cursor: pointer;
}

.calendar-btn input{
  height: 30px;
  font-size: 15px;
  margin-left: 0.25%;
  padding-left: 1%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid grey;
}

/*Calander Outline or Frame*/
.calendar{
  display: none; /*Hides the calendar div*/
  width: 15%;
  height: 305px;
  margin-left: 5px;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  background-color: #cdaa7d;
}

/*Months user are at*/
.month{
  width: 100%;
  height: 60px;
  display: flex;
  text-align: center;
  background-color: #cdaa7d;
  border-bottom: 2px solid black;
}

/*Previous and Next Button*/
.previous, .next{
  width: 10%;
  height: 100%; /*Allows user to click at the entire row of the button instead*/
  padding: 20px 0 23px; /*Align it to be center like margin auto*/
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

/*Background colour + opacity when hover over the buttons*/
.previous:hover, .next:hover{
  background-color: rgba(128, 128, 128, 0.397);
}

/*Month + Day + Date*/
.date-content{
  width: 90%;
  margin: auto;
  line-height: 1.3;
}

/* Weekdays & Weekend*/
.days{
  display: flex;
  width: 100%;
  border-bottom: 2px solid black;
}

.days div{
  width: 14.28%;
  text-align: center;
  font-size: 17px;
  margin: 2% 0;
}

/* Month Dates*/
.dates{
  display: flex;
  flex-wrap: wrap;
  margin: 2.25% 0;
}

/*Individual Dates of the Month*/
.dates div{
  width: 14.28%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  margin: auto;
  cursor: pointer;
}

/*Current Date*/
.today{
  background-color: rgba(255, 255, 255, 0.897);
}

.today:hover{
  background-color: white;
  font-weight: bold;
}

/*Any item that do not have the class "current" but is under the class "dates"*/
.dates div:hover:not(.today){
  background-color: rgba(128, 128, 128, 0.281);
}

/*Next & Previous Month dates*/
.prev-date, .next-date{
  opacity: 0.65;
}

/* Terms and Conditions */
.terms{
  width: 100%;
  margin: 7% auto 2%;
  text-align: left;
  line-height: 1.5;
  padding-left: 6%;
  font-size: 17.5px;
}

.terms br{
  margin: 10px auto;
  display: block;
  content: " " ;
}

.terms a{
  color: black;
  text-decoration: none;
}

.terms input{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.mid{
  text-align: center;
  font-weight: 459;
}

button{
  width: 15%;
  height: 8%;
  font-size: 22.5px;
  margin: 5% 45% 2%;
  border-radius: 25px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
}

button:hover{
  background-color: #cdaa7d;
  color: white;
}
