/* General --> applies throughout the webpage */
* {box-sizing: border-box}

h1{
  text-align: center;
  text-decoration: underline;
  margin: 1% auto;
}

h3{
  margin: 0 !important;
}

.mar{
  margin: 3% auto;
}

/* Content font-sizes */
.container-fluid {
  width: 85% !important;
}

.facility-content{
  background-color: rgba(255, 255, 255, 0.829);
  padding: 0% 1.5% 0%;
  text-align: center;
  line-height: 1.5;
  color: black;
  left: 8%;
}

.facility-content p{
  font-size: 21px;
  margin-bottom: 0.5% !important;
}

.facility-content a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.facility-content ol{
  font-size: 21px;
  font-weight: 500;
  margin: 0 !important;
}

.facility-content ol li{
  font-size: 19px;
  list-style-position: inside; 
  font-weight: normal; 
}

.main-content{
   padding-top: 2%;
}

/* Position the next and prev button to */
/* their respective position */
.prev{
  left: 0.75%;
}

.next {
  right: 0.75%;
}

/*Next & previous buttons style */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  padding: 19.8% 1%;
  color: black;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.26);
  /* background-color: blue; */
  color: black;
}

/* Facilites Slideshow image size */
.poolSlides img, .gymSlides img, .spaSlides img{
  width: 100%;
  height: 600px;
}

.poolSlides a, .gymSlides a, .spaSlides a{
  cursor: default !important;
}

/* Pool content position */
.poolContent{
  bottom: 12%;
}

/* Gym and Spa content position */
.gymContent, .spaContent{
  bottom: 17%;
}

/* The rectange indicator */
.rect-container{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.5%;
}

.rect {
  cursor: pointer;
  height: 15px;
  width: 90px;
  margin: 0 1%;
  background-color: rgba(255, 255, 255, 0.829);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.rect:hover {
  background-color: #717171;
}

/* Responsive Webpage Content - Gotten viewport sizes from developer console */

/* Horizontal View Port (with reference to iPad Pro) */
@media (max-width: 1370px) {
  /* Facilites Slideshow image size */
  .poolSlides img, .gymSlides img, .spaSlides img{
    height: 500px;
  }

  .facility-content p{
    font-size: 16px;
  }

  .facility-content ol{
    font-size: 16px;
  }

  .facility-content ol li{
    font-size: 14px;
  }

  /* Pool content position */
  .poolContent{
    bottom: 11%;
  }

  /* Gym and Spa content position */
  .gymContent, .spaContent{
    bottom: 15%;
  }

}

/* Vertical View Port (with reference to iPad Pro) */
@media (max-width : 1025px) {

    h1{
      font-size: 28px;
    }
    h3{
      font-size: 18px;
    }

    /* Facilites Slideshow image size */
    .poolSlides img, .gymSlides img, .spaSlides img{
      height: 400px;
    }
  
    .facility-content p{
      font-size: 14px;
    }
  
    .facility-content ol{
      font-size: 14px;
    }
  
    .facility-content ol li{
      font-size: 12px;
    }

    /* Pool content position */
    .poolContent{
      bottom: 7%;
    }

    /* Gym and Spa content position */
    .gymContent{
      bottom: 11%;
    }

    .spaContent{
      bottom: 12%;
    }

}

/* Horizontal View Port (with reference to iPahone X */
@media (max-width: 820px){
  h1{
    font-size: 24px;
  }

  .container-fluid {
    width: 90% !important;
  }

  .facility-content{
    left: 5%;
  }

  /* Facilites Slideshow image size */
  .poolSlides img, .gymSlides img, .spaSlides img{
    height: 300px;
  }

  .facility-content p{
    font-size: 12px;
  }

  .facility-content ol{
    font-size: 12px;
  }

  .facility-content ol li{
    font-size: 10px;
  }
  /* Pool content position */
  .poolContent{
    bottom: 7%;
  }

  /* Position the next and prev button to */
  /* their respective position */
  .prev{
    left: 1.7%;
  }

  .next {
    right: 1.7%;
  }

  /*Next & previous buttons style */
  .prev, .next {
    padding: 18.8% 0.25%;
    font-size: 25px;
  }

  .rect-container{
    bottom: 0.25%;
  }

  .rect {
    height: 10px;
    width: 75px;
  }
}

/* Vertical View Port (with reference to iPhone) */
@media (max-width : 500px) {
  h1{
    font-size: 20px;
  }

  h3{
    font-size: 18px;
  }

  .mar{
    margin: 4% auto;
  }

  .container-fluid {
    width: auto !important;
  }

  .facility-content{
    left: 5%;
  }

  /* Facilites Slideshow image size */
  .poolSlides img, .gymSlides img, .spaSlides img{
    height: 250px;
  }

  .facility-content p{
    font-size: 16px;
  }

  .facility-content ol{
    font-size: 16px;
  }

  .facility-content ol li{
    font-size: 16px;
  }

  .position-absolute{
    position: relative !important;
    left: 0;
  }

  /* Position the next and prev button to */
  /* their respective position */
  .prev{
    left: 2.5%;
  }

  .next {
    right: 2.5%;
  }

  /*Next & previous buttons style */
  .prev, .next {
    padding: 22.8% 0.25%;
    font-size: 20px;
  }

  .rect-container{
    bottom: 0;
  }

  .rect {
    height: 0;
    width: 0;
  }
}