/* General --> applies throughout the webpage */
h1{
  text-align: center;
  text-decoration: underline;
}

.positions{
  display: flex;
  margin: 2.5% 1.5%;
}

/* Public Transport position */
.publicTrans{
  width: 45%;
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

.publicTrans p{
  font-size: 18px;
}

.mrtContent{
  margin-top: 15%;
  margin-bottom: 3%;
}

/* Hotel location info */
.map{
  float: right;
  width: 55%;
  text-align: center;
  margin: 0 !important;
}

.map iframe{
  padding: 0;
  width: 100%;
  height: 400px;
}

/* Direction - general */
h3{
  text-align: center;
  margin: 0 !important;
}

/* Via which Public Transport Containers */


/* Direction on getting there Video */
.directVideo{
  width: 52.5%;
  float: left;
  font-weight: 500;
  justify-content: center;
}

video{
  width: 99%;
  height: 90%;
  margin: 1.2% auto 0%;
}

/* Direction on getting there Content */
.directContent{
  width: 45%;
  height: 90%;
  margin: 1.2%;
  float: right;
  font-weight: 500;
}

.directContent h4{
  text-decoration: underline;
  font-size: 17px;
  font-weight: 600;
}

.directContent ol li{
  list-style-position: inside;
  text-align: justify;
  line-height: 2;
  font-size: 16.5px;
  font-weight: normal;
}

b{
  font-weight: 600;
}

/*Indentation for inside list*/
.indent{
  list-style-type: lower-roman;
}

@media (max-width : 430px) {
  
}