/* General --> applies throughout the webpage */
h1{
  text-align: center;
  text-decoration: underline;
}

/* Display flex for all content container */
.positions{
  display: flex;
  margin: 2.5% 1.5%;
}

/* Public Transport position */
.publicTrans{
  width: 45%;
  font-size: 15px;
  text-align: center;
  line-height: 1.5;
}

.publicTrans p{
  font-size: 18px;
}

.publicTrans h3{
  line-height: 1.5;
}

.mrtContent{
  margin-top: 15%;
  margin-bottom: 3%;
}

/* Hotel location info */
.map{
  float: right;
  width: 55%;
  text-align: center;
  margin: 0 !important;
}

.map iframe{
  padding: 0;
  width: 100%;
  height: 400px;
}

/* Direction - general */
h3{
  text-align: center;
  margin: 0 !important;
}

/* Direction on getting there Video */
.directVideo{
  width: 52.5%;
  float: left;
  font-weight: 500;
}

video{
  width: 100%;
  margin: 1.2% auto 0%;
}

/* Direction on getting there Content */
.directContent{
  width: 45%;
  height: 90%;
  margin: 1.2%;
  float: right;
  font-weight: 500;
}

.directContent h4{
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
}

.directContent ol li{
  list-style-position: inside;
  text-align: justify;
  line-height: 2;
  font-size: 17px;
  font-weight: normal;
}

b{
  font-weight: 600;
}

/*Indentation for inside list*/
.indent{
  list-style-type: lower-roman;
}

/* Responsive Webpage Content */
/* Gotten viewpoet sizes from developer console */

/* Horizontal View Port (with reference to iPad Pro) */
@media (max-width: 1366px) {
  .viaBus video{
    margin: 12% auto;
  }
}

/* Vertical View Port (with reference to iPad Pro) */
@media (max-width : 1025px) {
  .h1{
    margin: 0;
  }

  /* Map content */
  .map iframe{
    height: 300px;
  }
  /* set back the original formatting */
  .viaBus video{
    margin: 1.2% auto 0%;
  }

  /* Content width */
  .directVideo, .directContent{
    width: 100%;
  }

  .videoContent-positions{
    display: block;
  }

  .directContent, .directContent ol ul{
    text-align: center;
  }
}

/* Vertical View Port (with reference to iPhone) */
@media (max-width : 430px) {
  .h1{
    margin: 0;
  }
  .positions{
    display: block;
    margin: 2% 0%;
  }
  /* Map content */
  .map iframe{
    height: 200px;
  }
  /* Content width */
  .publicTrans, .map, .directVideo, .directContent{
    width: 100%;
  }
  /* Content font-sizes */
  .publicTrans p, .directContent ol li{
    font-size: 14px;
  }

  h3, .publicTrans h3{
    font-size: 17px;
  }

  .directContent h4{
    font-size: 15px;
  }
}